:root {
   --highlight-purple: #A17EAD;
   --highlight-yellow: #FEFFA4;
   --highlight-pink: #FFE2E2;
   --background-lavender: #E6E7FF;
   --font-dark-navy: #120E22;
   --shadow-navy: #1D3557;
}

body {
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin: 0;
}

h1 {
    font-size: 64px;
}

h3 {
    font-size: 24px;
}

p {
    font-family: Helvetica, sans-serif;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    background-image: url("./resources/images/paris_background.png");
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    gap: 10px;
}

.hero h1 {
    position: relative;
    color: var(--highlight-yellow);
    z-index: 1;
}

.hero h1::before {
    content: "";
    position: absolute;
    padding: 22px;
    left: -10px;
    right: -10px;
    top: 26px;
    background-color: var(--highlight-purple);
    z-index: -1;
}

.hero h2 {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    width: 400px;
    color: var(--highlight-purple);
    background-color: var(--highlight-yellow);
    padding: 6px 10px;
}

.places {
    background-color: var(--background-lavender);
    padding: 40px 0;
}

.place-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}